.row(ng-init="getStep()")
    .col-lg-5
        form(name='search', ng-submit='updateStep()')
            br
            .form-group
                input.form-control(required='', type='text', placeholder='Что я сделаю ?', ng-model='step.label').input-group
            .form-group
                .input-group.price-group
                    input.form-control(required='', type='number', placeholder='Цена', ng-model='step.price')
                    select.input-group-addon.form-control(ng-model='newStep.currency', size='1')
                        option USD
                        option(ng-selected="true") UAH
            .form-group
                textarea.form-control(required='', ng-model='step.desc', placeholder="Описание")
            button.btn.btn-my.btn-my-outline(type='submit') Сохранить
