.row
    .col-lg-12
        form.form-login(ng-submit="login()")
            h1 Войти
            div.alert.alert-danger(ng-if="message") {{message}}
            .form-group
                input.form-control(required='', type='text', placeholder='E-mail', name='email', maxlength='80', ng-model='email')
            .form-group
                input.form-control(required='', type='password', placeholder='Пароль', name='password', ng-model='password')
            button.btn.btn-my.btn-my-outline(type='submit') Войти
            .registrations
                br
                a(href="#/register") Зарегистрироваться 
