.row
    .col-lg-12
        h2 &Tcy;&ocy;&pcy;&ocy;&vcy;&ycy;&iecy; &ucy;&scy;&lcy;&ucy;&gcy;&icy;
.row(ng-init="getSteps()")
    .col-md-12(ng-if='!steps.length')
        p.text-xs-center Топовых услуг нет
    .col-md-3.services-item(ng-repeat='step in steps')
        .services-item-wrap
            a.service-item-middle(ng-href='/#/steps/{{step._id}}')
                img(ng-src='{{step.img}}', alt='{{step.label}}')
                h3
                    | {{step.label}}
            .service-item-bottom.clearfix
                a.icn-heart.hint--top.pull-xs-left(href='', data-hint='Добавить в любимые')
                    i.fa.fa-heart
                strong.pull-xs-right {{step.price}} {{step.currency}}