.header-chat{
  margin-top: 20px;
  margin-right: 10px;
  position: relative;
  z-index: 10;
  .fa-comments{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
}

.header-chat-window{
  position: absolute;
  top: 31px;
  right: -2px;
  width: 250px;
  height: 300px;
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 10px 0 #000;
}
