div(id='steps top-steps', ng-controller='stepsController')
    .inner
        .container-fluid
            .row
                .col-lg-12
                    h2 &Tcy;&ocy;&pcy;&ocy;&vcy;&ycy;&iecy; &ucy;&scy;&lcy;&ucy;&gcy;&icy;
            .row
                .col-md-3.services-item(ng-repeat='step in steps')
                    .services-item-wrap
                        a.service-item-middle(href='')
                            img(ng-src='{{step.img}}', alt='{{step.title}}')
                            h3
                                | {{step.title}}
                        .service-item-bottom.clearfix
                            a.icn-heart.hint--top.pull-xs-left(href='', data-hint='Добавить в любимые')
                                i.fa.fa-heart
                            strong.pull-xs-right {{step.price}} {{step.currency}}
            include addstep