@import "../libs/font-awesome/scss/_variables.scss";
$fa-font-path: "../libs/font-awesome/fonts";
@import "../libs/font-awesome/scss/_path.scss";
@import "../libs/font-awesome/scss/_core.scss";
@import "../libs/font-awesome/scss/_icons.scss";

.icn-heart{
  margin-top: 4px;
  i{
    color: lighten($first-color, 65);
  }
}
