<div class="usersteps">

  <div class="row">
    <div class="col-lg-12">
      <h3>Список улуг {{usersteps.$stateParams.username}}</h3>
      <br>
    </div>
  </div>


  <div class="row" ng-init="usersteps.getSteps()">
    <div ng-if="usersteps.steps.length == 0" class="col-md-12">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
      </svg>
    </div>
    <step ng-repeat="step in usersteps.steps" step='step' class="col-md-4 services-item"></step>
    <a href="#/addstep" ng-show="usersteps.myprofile">Добавить новую услугу</a>
  </div>
</div>
