doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    // Template Basic Images Start
    meta(property='og:image', content='path/to/image.jpg')
    link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
    link(rel='stylesheet', href='/css/main.min.css')
  body(ng-app='OneStep')
    #header
      .inner
        .container-fluid
          .row
            .col-md-2
              a.logo(ng-href='#/')
                | OneStep
            .col-md-5
              form.form-inline.form-search(action='#', name='search')
                .form-group
                  .input-group
                    input.form-control(type='text', placeholder='Найти услугу', ng-model='inputtext')
                button.btn.btn-my.btn-my-outline(type='submit')
                  i.fa.fa-search
            .col-md-5(ng-controller="userMenuController")
              nav.main-nav.main-nav-user.pull-md-right(ng-hide='token')
                ul
                  li
                    a(ng-href='#/login') Войти
                  li
                    a.header-link.pull-md-right(ng-href='#/register')
                      | Зарегистрироваться
              nav.main-nav.main-nav-user.pull-md-right(ng-show='token')
                ul
                  li.dropdown-container.header-user
                    a.user-trigger(ng-href='#/{{username}}') 
                      span.user-pict-24
                        span.missing-image-user {{usernameFirstLetter}}
                      span.user-name {{username}}
                    div.dropdown
                      ul
                        li
                          a(ng-href="#/user/{{username}}") Профиль
                        li
                          a(ng-click='logout()') Выйти
