include header

div(id='steps top-steps')
    .inner
        .container-fluid
            .btn-group(role="group")
                a.btn.btn-secondary(type="button", ng-href="#/") Steps
                a.btn.btn-secondary(type="button", ng-href="#/addstep") Add Step
            div(ui-view)
include footer
